---
import { Icon } from "astro-icon/components";
const { className, data } = Astro.props;

type Link = {
	title: string;
	url: string;
	handle: string;
};
---

<section class={`space-y-4 ${className}`}>
	<h1 class="font-display text-[5rem] md:text-[7rem] leading-[0.85] max-w-[5ch] mb-8">
		{data.title}
	</h1>

	<hr class="border-t border-neutral-700 w-15 mb-8" />

	<div set:html={data.bio} />

	<ul>
		{data.links.map((link: Link) => (
			<li>
				<a href={link.url} data-site={link.handle} target="_blank" class="flex items-center gap-1">
					{link.title}

					<Icon name="external-link" />
				</a>
			</li>
		))}
	</ul>
</section>