---
import { Icon } from "astro-icon/components";
import { Image } from 'astro:assets';
const { className, style, project } = Astro.props;
---

<a href={`${project.url}`} class={`flex flex-row gap-5 items-center group hover:translate-x-1 transition-transform duration-300 ease-in-out ${className}`} style={style} target="_blank" rel="noopener noreferrer">
	<div class="aspect-square w-15 h-15 overflow-hidden rounded-md shrink-0">
		{project.image &&project.image.url && <Image src={project.image.url} alt={project.title} width={60} height={60} loading="eager" class="block h-full w-full object-cover" />}
	</div>

	<div>
		<h3 class="text-xl font-body-bold font-bold group-hover:text-white flex items-center">
			{project.title}

			<span class="inline-block opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out ml-1">
					<Icon name="material-symbols:arrow-outward" />
				</span>
		</h3>
		<p class="text-sm">{project.description}</p>
	</div>
</a>